@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --c-primary: #fef7cb;
  --c-primary2: #feed98;
  --c-primary3: #32de8a;
  --c-secondary: #0b0500;
  --c-secondary2: #fffbfe;
  --c-secondary3: #e4572e;
  --c-success: #62ad24;
  --c-error: #ff3a47;
  --m-gutter: 2rem;
  --m-input: 2rem;
  --m-form: 2rem;
  --m-btn: 1.8rem 4.2rem;
  --m-m_gutter: 4rem;
  --br-btn: 1rem;
  --br-box: 2rem;
  --br-input: 0.8rem;
  --transition: 0.5s;
  --transition-btn: all 150ms ease-out;
  --fs-icon: 4rem;
  --fs-formIcon: 3rem;
  --fs-formError: 1.2rem;
  --fs-a: 2rem;
  --fs-p: 1.6rem;
  --fs-btn: 2.2rem;
  --fs-h1: 5.6rem;
  --fs-h2: 4.5rem;
  --fs-h3: 3.2rem;
  --fs-h4: 3rem;
  --sun: url(../../assets/sun.svg);
  --c-bg: #e7e7e7;
  --c-primaryBtn: var(--c-secondary3);
  --c-secondaryBtn: var(--c-secondary2);
  --c-secondaryBtnHover: var(--c-secondary);
  --c-arrowTop: var(--c-secondary3);
  --c-navbar: #fff;
}

:root.dark-mode {
  --c-primary: #0d1b1e;
  --c-primary2: #061015;
  --c-primary3: #02080e;
  --c-secondary: #fffecb;
  --c-secondary2: #3e4240;
  --c-secondary3: #7b7dac;
  --c-btn: #fffecb;
  --moon: url(../../assets/moon.svg);
  --c-bg: #181717;
  --c-primaryBtn: var(--c-secondary3);
  --c-secondaryBtn: var(--c-secondary);
  --c-secondaryBtnHover: var(--c-primary3);
  --c-arrowTop: var(--c-secondary3);
  --c-navbar: #000000;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s;
  z-index: 3;
}
.lightbox.fadeOut {
  opacity: 0;
}
.lightbox__close, .lightbox__next, .lightbox__prev {
  position: fixed;
  top: 2rem;
  right: 0;
  width: 10rem;
  color: #ffffff;
  background: none;
  font-size: 5rem;
  opacity: 0.8;
  cursor: pointer;
  transition: var(--transition);
}
.lightbox__close:hover, .lightbox__next:hover, .lightbox__prev:hover {
  opacity: 1;
}
.lightbox__next, .lightbox__prev {
  top: 0;
  right: 0;
  height: 100%;
}
.lightbox__prev {
  right: auto;
  left: 0;
}
.lightbox__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
}
.lightbox__container img {
  max-width: 100%;
  height: auto;
}
.lightbox__loader {
  width: 20rem;
  height: 20rem;
  opacity: 0.5;
  background: url(../../assets/loader.svg) center center no-repeat;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 7rem;
  height: 7rem;
  background: var(--c-primaryBtn);
  border-radius: 50%;
  font-size: 4.2rem;
  color: var(--c-secondaryBtn);
  transition: var(--transition) ease;
}
.social-link:hover {
  color: var(--c-secondaryBtnHover);
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
  color: var(--c-secondaryBtn);
  background: var(--c-primaryBtn);
  transition: var(--transition);
  border-radius: var(--br-btn);
  font-size: var(--fs-btn);
  padding: var(--m-btn);
}
.btn i {
  font-size: 3rem;
}
.btn:hover {
  color: var(--c-secondaryBtnHover);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 55%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

body {
  color: var(--c-secondary);
}

section {
  padding: 12rem var(--m-gutter) 6rem;
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  align-items: start;
}
@media screen and (min-width: 992px) {
  section {
    padding: 12rem var(--m-m_gutter) var(--m-m_gutter);
  }
}
section h1 {
  font-size: 5.6rem;
  font-weight: 700;
}
section h2 {
  font-size: 4rem;
}
@media screen and (min-width: 992px) {
  section h2 {
    font-size: 5.2rem;
  }
}
section h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
section h4 {
  font-size: 3rem;
}
section p {
  font-size: 1.6rem;
}
section:nth-child(even) {
  background: var(--c-bg);
}
section:nth-child(odd) {
  background: var(--c-bg);
}

.highlight-color {
  color: var(--c-primary3);
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 7.4rem;
  padding: 0 var(--m-gutter);
  background: var(--c-primary3);
  color: #fff;
  z-index: 2;
}
@media screen and (min-width: 992px) {
  .header {
    padding: 0 var(--m-m_gutter);
  }
}
.header__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 2rem;
  background: var(--c-primary3);
  font-weight: 600;
  color: var(--c-secondary);
  font-size: 3rem;
  padding: 0 var(--m-gutter);
}
@media screen and (min-width: 992px) {
  .header__content {
    padding: 0 var(--m-m_gutter);
  }
}

.menu-icon {
  display: block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  user-select: none;
  z-index: 2;
}
.menu-icon .line {
  fill: none;
  transform-origin: top left;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.menu-icon.active {
  transform: rotate(45deg);
}
.menu-icon.active .top {
  stroke-dashoffset: -68px;
}
.menu-icon.active .bottom {
  stroke-dashoffset: -68px;
}
.menu-icon .top {
  stroke-dasharray: 40 121;
}
.menu-icon .bottom {
  stroke-dasharray: 40 121;
}
@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}

.navbar {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.23);
  background: var(--c-navbar);
  border-radius: 2rem;
  transform: translateY(-100%);
  transition: 0.5s ease all;
  z-index: -1;
}
.navbar .colorMode, .navbar .navbar__box a, .navbar__box .navbar a {
  padding: 2rem;
  display: flex;
  align-items: center;
}
.navbar.active {
  transform: translateY(0);
}
.navbar__box {
  flex: 1 1 100%;
  font-size: 1.6rem;
  font-weight: 500;
}
.navbar__box a {
  height: 100%;
  color: var(--c-secondary);
}
.navbar__box a:hover, .navbar__box a.active {
  color: var(--c-secondary3);
}
@media screen and (min-width: 768px) {
  .navbar {
    position: static;
    flex-wrap: nowrap;
    width: auto;
    height: 100%;
    padding: 0;
    box-shadow: none;
    background: none;
    transform: translateY(0);
    z-index: 1;
  }
}

#colorMode {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--c-secondary);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0 0.2rem;
  border-radius: 50%;
  background-image: var(--sun);
  background-color: var(--c-primaryBtn);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.dark-mode #colorMode {
  justify-content: flex-end;
}

.dark-mode #colorMode_toggle {
  background-image: var(--moon);
}

.home {
  grid-template-columns: 1fr 35vw;
  grid-template-rows: auto auto;
  grid-template-areas: "home-content home-content" "home-img home-img";
}
.home__content {
  grid-area: home-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.home__img {
  grid-area: home-img;
}
.home__img img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .home {
    align-items: center;
    grid-template-areas: "home-content home-img" "home-content home-img";
  }
}

.social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.about {
  padding: 12rem var(--m-m_gutter) 0 var(--m-m_gutter);
  grid-template-columns: 28vw 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "about-content about-content" "about-img about-img";
}
.about__img {
  grid-area: about-img;
}
.about__img img {
  width: 100%;
  height: 100%;
  display: block;
}
.about__content {
  grid-area: about-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .about {
    grid-template-areas: "about-img about-content" "about-img about-content";
  }
}

.services {
  grid-template-rows: auto 1fr;
}
.services__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4rem;
}
.services__box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 30rem;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 2rem 4rem;
  border-radius: var(--br-box);
  text-align: center;
  border: 0.2rem solid var(--c-secondary);
  transition: var(--transition) ease;
}
.services__box .fa-solid {
  font-size: 7rem;
  color: var(--c-secondary);
}
.services__box:hover {
  transform: scale(1.02);
}
.services .heading {
  text-align: center;
}

.portfolio__content {
  display: grid;
  grid-gap: var(--m-gutter);
  grid-template-columns: 1fr;
}
@media screen and (min-width: 576px) {
  .portfolio__content {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
.portfolio__text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--m-gutter);
  padding: var(--m-gutter);
  position: absolute;
  inset: 50% 0 0 0;
  transform: translate(0, 100%);
  object-fit: contain;
  transition: 0.4s ease;
  z-index: 1;
}
.portfolio__box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  color: #fff;
  border-radius: var(--br-box);
  aspect-ratio: 1;
  overflow: hidden;
}
.portfolio__box img {
  width: 100%;
  transition: transform 0.8s ease;
}
.portfolio__box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}
.portfolio__box:hover .portfolio__text {
  transform: translate(0, 0);
}
.portfolio__box:hover img {
  transform: translate(0, -10%);
}

.contact {
  grid-template-rows: auto 1fr;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--m-form);
}

.input-control, .textarea-control {
  flex: 1 1 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .input-control, .textarea-control {
    flex: 1 1 calc(50% - var(--m-form));
  }
}
.input-control label, .textarea-control label {
  font-size: var(--fs-p);
  color: var(--c-secondary);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 3rem var(--m-input) var(--m-input);
  pointer-events: none;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.input-control input:not(.btn), .textarea-control input:not(.btn),
.input-control textarea,
.textarea-control textarea {
  padding: 3rem var(--m-input) var(--m-input);
  font-size: var(--fs-p);
  border-radius: var(--br-input);
  background: var(--c-primary);
  border: 0.1rem solid var(--c-secondary);
  color: var(--c-secondary);
  width: 100%;
  resize: none;
}
.input-control input:not(.btn):focus ~ label, .textarea-control input:not(.btn):focus ~ label,
.input-control textarea:focus ~ label,
.textarea-control textarea:focus ~ label,
.input-control input:not(.btn):-webkit-autofill ~ label,
.textarea-control input:not(.btn):-webkit-autofill ~ label,
.input-control textarea:-webkit-autofill ~ label,
.textarea-control textarea:-webkit-autofill ~ label,
.input-control .fill,
.textarea-control .fill {
  opacity: 0.4;
  transform: scale(0.85) translateY(-1.5rem);
}
.input-control i, .textarea-control i {
  position: absolute;
  top: 2.1rem;
  right: 2.1rem;
  visibility: hidden;
  font-size: var(--fs-formIcon);
}
.input-control .fa-check-circle, .textarea-control .fa-check-circle {
  color: var(--c-success);
}
.input-control .fa-exclamation-circle, .textarea-control .fa-exclamation-circle {
  color: var(--c-error);
}
.input-control .error, .textarea-control .error {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  font-size: var(--fs-formError);
  color: var(--c-error);
}
.input-control.success input, .success.textarea-control input {
  border: 0.1rem solid var(--c-success);
}
.input-control.success .fa-check-circle, .success.textarea-control .fa-check-circle {
  visibility: visible;
}
.input-control.error input, .error.textarea-control input {
  border: 0.1rem solid var(--c-error);
}
.input-control.error .fa-exclamation-circle, .error.textarea-control .fa-exclamation-circle {
  visibility: visible;
}

.textarea-control {
  flex: 1 1 100%;
}

.submit-control {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .submit-control {
    flex: 1 1 calc(50% - var(--m-form));
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--m-gutter) var(--m-gutter);
  background: var(--c-primary3);
}
@media screen and (min-width: 992px) {
  .footer {
    padding: var(--m-gutter) var(--m-m_gutter);
  }
}

.footer-text p {
  font-size: 1.6rem;
  color: #fff;
}

.arrowTop {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 6rem;
  height: 6rem;
  background: var(--c-arrowTop);
  border-radius: var(--br-input);
  transition: var(--transition) ease;
  color: #fff;
  font-size: 4rem;
  z-index: 1;
}
.arrowTop.visible {
  visibility: visible;
}
.arrowTop:hover {
  color: var(--c-secondary);
}

/*# sourceMappingURL=style.css.map */
