@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --c-primary: #f8f7ff;
  --c-secondary: #b7c1f6;
  --c-secondary-light: #efedff;
  --c-tertiary: #7d6bed;
  --c-text1: #2e3138;
  --c-text2: #7d6bed;
  --c-text3: #e7e7e7;
  --c-borderInput: rgba(49, 45, 46, 0.5);
  --c-success: #62ad24;
  --c-error: #ff3a47;
  --m-gutter: 3.5rem;
  --m-m_gutter: 7rem;
  --margin: 2rem;
  --br-box: 2rem;
  --transition: 0.5s;
  --fs-icon: 4rem;
  --fs-formIcon: 3rem;
  --fs-formError: 1.2rem;
  --fs-a: 2rem;
  --fs-p: 1.6rem;
  --s-bannerSmall: 25rem;
  --s-bannerMedium: 35rem;
  --moon: url(../../assets/moon.svg);
}

:root.dark-mode {
  --c-primary: #181717;
  --c-secondary: #2a2c26;
  --c-secondary-light: #312d2e;
  --c-tertiary: #c2e812;
  --c-text1: #fcfffc;
  --c-text2: #c2e812;
  --c-text3: #312d2e;
  --c-borderInput: rgba(252, 255, 252, 0.5);
  --sun: url(../../assets/sun.svg);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s;
  z-index: 3;
}
.lightbox.fadeOut {
  opacity: 0;
}
.lightbox__close, .lightbox__next, .lightbox__prev {
  position: fixed;
  top: 2rem;
  right: 0;
  width: 10rem;
  color: #ffffff;
  background: none;
  font-size: 5rem;
  opacity: 0.8;
  cursor: pointer;
  transition: var(--transition);
}
.lightbox__close:hover, .lightbox__next:hover, .lightbox__prev:hover {
  opacity: 1;
}
.lightbox__next, .lightbox__prev {
  top: 0;
  right: 0;
  height: 100%;
}
.lightbox__prev {
  right: auto;
  left: 0;
}
.lightbox__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
}
.lightbox__container img {
  max-width: 100%;
  height: auto;
}
.lightbox__loader {
  width: 20rem;
  height: 20rem;
  opacity: 0.5;
  background: url(../../assets/loader.svg) center center no-repeat;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 6rem;
  height: 6rem;
  font-size: 3.8rem;
  background: var(--c-tertiary);
  border-radius: 50%;
  color: var(--c-text3);
  transition: var(--transition) ease;
}
.social-link:hover {
  background: #5d4ecb;
}
@media screen and (min-width: 768px) {
  .social-link {
    width: 7rem;
    height: 7rem;
    font-size: 4.2rem;
  }
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
  color: var(--c-text3);
  background: var(--c-tertiary);
  transition: var(--transition);
  border-radius: 1rem;
  font-size: 1.8rem;
  padding: 1.8rem 3.2rem;
}
.btn i {
  font-size: 2.6rem;
}
@media screen and (min-width: 768px) {
  .btn i {
    font-size: 3rem;
  }
}
.btn:hover {
  background: #5d4ecb;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 2.2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 55%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

body {
  color: var(--c-text1);
  background: var(--c-secondary);
}

section {
  position: relative;
  margin: var(--margin) 0;
  background: var(--c-primary);
  padding: 12rem var(--m-gutter) 6rem;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  section {
    padding: 12rem var(--m-m_gutter) 6rem;
  }
}
section:first-of-type {
  margin-top: 0;
  padding-bottom: 0;
}
section:last-of-type {
  margin-bottom: 0;
}
section div:not(.banner) {
  z-index: 1;
}
section h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
}
@media screen and (min-width: 576px) {
  section h1 {
    font-size: 5.6rem;
    line-height: 6rem;
  }
}
section h2 {
  font-size: 4rem;
}
@media screen and (min-width: 576px) {
  section h2 {
    font-size: 5.2rem;
  }
}
section h3 {
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 576px) {
  section h3 {
    font-size: 3.2rem;
  }
}
section p {
  font-size: var(--fs-p);
}
@media screen and (min-width: 576px) {
  section p {
    font-size: var(--fs-p);
  }
}

.heading {
  font-family: "Khand", sans-serif;
}
.heading > span {
  font-family: "Khand", sans-serif;
}

.banner {
  display: none;
}
@media screen and (min-width: 768px) {
  .banner {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: var(--s-bannerSmall);
    height: 100%;
    background: rgba(46, 49, 56, 0.3);
    user-select: none;
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    width: var(--s-bannerMedium);
  }
}
.banner span {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  height: 100%;
  display: block;
  font-family: "Khand", sans-serif;
  font-weight: 600;
  font-size: 24rem;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
}
@media screen and (min-width: 1200px) {
  .banner span {
    line-height: 56rem;
  }
}

.highlight-color {
  color: var(--c-text2);
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 7.4rem;
  padding: 0 var(--m-gutter);
  background: var(--c-tertiary);
  z-index: 2;
}
@media screen and (min-width: 992px) {
  .header {
    padding: 0 var(--m-m_gutter);
  }
}
.header__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 2rem;
  background: var(--c-secondary);
  font-weight: 600;
  color: var(--c-text1);
  font-size: 3rem;
  padding: 0 var(--m-gutter);
}
@media screen and (min-width: 992px) {
  .header__content {
    padding: 0 var(--m-m_gutter);
  }
}

.menu-icon {
  display: block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  user-select: none;
  z-index: 2;
}
.menu-icon .line {
  fill: none;
  transform-origin: top left;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: var(--c-text1);
  stroke-width: 5.5;
  stroke-linecap: round;
}
.menu-icon.active {
  transform: rotate(45deg);
}
.menu-icon.active .top {
  stroke-dashoffset: -68px;
}
.menu-icon.active .bottom {
  stroke-dashoffset: -68px;
}
.menu-icon .top {
  stroke-dasharray: 40 121;
}
.menu-icon .bottom {
  stroke-dasharray: 40 121;
}
@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}

.navbar {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.23);
  background: var(--c-secondary);
  border-radius: 2rem;
  transform: translateY(-102%);
  transition: 0.5s ease all;
  z-index: -1;
}
.navbar.active {
  transform: translateY(0);
}
.navbar__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 100%;
  font-size: var(--fs-p);
  font-weight: 500;
}
.navbar__box a {
  padding: var(--m-gutter);
  width: 100%;
  height: 100%;
  white-space: nowrap;
  color: var(--c-text1);
}
@media screen and (min-width: 768px) {
  .navbar__box a {
    padding: var(--margin);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
}
.navbar__box a:hover, .navbar__box a.active {
  color: var(--c-text2);
}
@media screen and (min-width: 768px) {
  .navbar {
    position: static;
    flex-wrap: nowrap;
    width: auto;
    height: 100%;
    padding: 0;
    box-shadow: none;
    background: none;
    transform: translateY(0);
    z-index: 1;
  }
}

.logo {
  flex: 0 1 4.6rem;
  display: flex;
  align-items: center;
}
.logo img {
  width: 100%;
}

.home {
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  align-items: start;
  grid-template-columns: 1fr 35vw;
  grid-template-rows: auto auto;
  grid-template-areas: "home-content home-content" "home-img home-img";
}
.home__content {
  grid-area: home-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.home__img {
  grid-area: home-img;
}
.home__img img {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .home {
    align-items: center;
    grid-template-areas: "home-content home-img" "home-content home-img";
  }
}

.social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

.services {
  grid-template-rows: auto 1fr;
}
.services__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4rem;
}
@media screen and (min-width: 768px) {
  .services__content {
    width: calc(100% - var(--s-bannerSmall));
  }
}
@media screen and (min-width: 1200px) {
  .services__content {
    width: calc(100% - var(--s-bannerMedium));
  }
}
.services__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 30rem;
  flex-wrap: wrap;
  gap: 2rem;
  background: var(--c-secondary-light);
  padding: 3rem 2rem 4rem;
  border-radius: var(--br-box);
  text-align: center;
  transition: var(--transition) ease;
}
.services__box p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.services__box .fa-solid {
  font-size: 5rem;
  color: var(--c-secondary-light);
}
.services__box:hover {
  background: var(--c-secondary);
}
.services__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.5rem;
  height: 8.5rem;
  background: var(--c-tertiary);
  border-radius: 50%;
}

.portfolio__content {
  position: relative;
  display: grid;
  grid-gap: var(--m-gutter);
  grid-template-columns: 1fr;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .portfolio__content {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__content {
    width: calc(100% - var(--s-bannerSmall));
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__content {
    width: calc(100% - var(--s-bannerMedium));
  }
}
@media screen and (min-width: 1400px) {
  .portfolio__content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.portfolio__text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--m-gutter);
  padding: var(--m-gutter);
  position: absolute;
  inset: 50% 0 0 0;
  transform: translate(0, 100%);
  object-fit: contain;
  transition: 0.4s ease;
  z-index: 1;
}
.portfolio__box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  color: #fff;
  width: 100%;
  height: 49rem;
  border-radius: var(--br-box);
  overflow: hidden;
}
.portfolio__box img {
  width: 100%;
  transition: transform 0.8s ease;
}
.portfolio__box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}
.portfolio__box:hover .portfolio__text {
  transform: translate(0, 0);
}
.portfolio__box:hover img {
  transform: translate(0, -10%);
}

.contact {
  grid-template-rows: auto 1fr;
}
.contact__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  background: var(--c-secondary-light);
  padding: 4rem 2rem;
  border-radius: var(--br-box);
}
@media screen and (min-width: 768px) {
  .contact__content {
    width: calc(100% - var(--s-bannerSmall));
  }
}
@media screen and (min-width: 1200px) {
  .contact__content {
    width: calc(100% - var(--s-bannerMedium));
  }
}
.contact__detail {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--margin);
  flex: 1 1 100%;
}
@media screen and (min-width: 992px) {
  .contact__detail {
    flex: 1 1 calc(50% - var(--margin));
  }
}
.contact__detail img {
  align-self: center;
  width: 100%;
  max-width: 35rem;
}
.contact__detail a {
  font-size: 1.4rem;
  color: var(--c-text1);
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .contact__detail a {
    font-size: 1.8rem;
  }
}
.contact__detail i {
  color: var(--c-text2);
  font-size: 3rem;
  margin-right: 2rem;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .contact__detail i {
    font-size: 4rem;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--margin);
  flex-grow: 0;
  flex-basis: 100%;
}
@media screen and (min-width: 992px) {
  .form {
    flex: 1 1 calc(50% - var(--margin));
  }
}
.form__input, .form__textarea {
  flex: 1 1 100%;
  position: relative;
}
.form__input label, .form__textarea label {
  font-size: var(--fs-p);
  color: var(--c-text1);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 3rem var(--margin) var(--margin);
  pointer-events: none;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.form__input input:not(.btn), .form__textarea input:not(.btn),
.form__input textarea,
.form__textarea textarea {
  padding: 3rem var(--margin) var(--margin);
  font-size: var(--fs-p);
  background: var(--c-secondary-light);
  border: 0.1rem solid var(--c-borderInput);
  color: var(--c-text1);
  border-radius: 0.8rem;
  width: 100%;
  resize: none;
}
.form__input input:not(.btn):focus ~ label, .form__textarea input:not(.btn):focus ~ label,
.form__input textarea:focus ~ label,
.form__textarea textarea:focus ~ label,
.form__input input:not(.btn):-webkit-autofill ~ label,
.form__textarea input:not(.btn):-webkit-autofill ~ label,
.form__input textarea:-webkit-autofill ~ label,
.form__textarea textarea:-webkit-autofill ~ label,
.form__input .fill,
.form__textarea .fill {
  opacity: 0.6;
  transform: scale(0.85) translateY(-1.5rem);
}
.form__input i, .form__textarea i {
  position: absolute;
  top: 2.1rem;
  right: 2.1rem;
  visibility: hidden;
  font-size: var(--fs-formIcon);
}
.form__input .fa-check-circle, .form__textarea .fa-check-circle {
  color: var(--c-success);
}
.form__input .fa-exclamation-circle, .form__textarea .fa-exclamation-circle {
  color: var(--c-error);
}
.form__input .error, .form__textarea .error {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  font-size: var(--fs-formError);
  color: var(--c-error);
}
.form__input.success input, .success.form__textarea input {
  border: 0.1rem solid var(--c-success);
}
.form__input.success .fa-check-circle, .success.form__textarea .fa-check-circle {
  visibility: visible;
}
.form__input.error input, .error.form__textarea input {
  border: 0.1rem solid var(--c-error);
}
.form__input.error .fa-exclamation-circle, .error.form__textarea .fa-exclamation-circle {
  visibility: visible;
}
.form__textarea {
  flex: 1 1 100%;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 var(--m-gutter);
  background: var(--c-secondary-light);
  height: 6rem;
  margin-bottom: 5rem;
  font-size: var(--fs-p);
  color: var(--c-text1);
}
@media screen and (min-width: 768px) {
  .footer {
    font-size: var(--fs-p);
  }
}
@media screen and (min-width: 992px) {
  .footer {
    padding: 0 var(--m-m_gutter);
  }
}

.arrowTop {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: fixed;
  bottom: 12rem;
  right: 2rem;
  background: #f7b801;
  transition: var(--transition) ease;
  color: #2e3138;
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  font-size: 4rem;
  z-index: 2;
}
.arrowTop.visible {
  visibility: visible;
}

.subFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background: var(--c-secondary);
  z-index: 2;
}

#colorMode {
  background: none;
  width: 4rem;
  height: 4rem;
  background-image: var(--sun);
  background-color: var(--c-primaryBtn);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#en,
#fr {
  color: var(--c-text1);
  font-size: 2rem;
  font-weight: 700;
  background: none;
  opacity: 0.5;
  cursor: pointer;
}
#en.active,
#fr.active {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
