.btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
  color: var(--c-text2);
  background: var(--c-btn);
  transition: var(--transition);
  border-radius: var(--br-btn);
  font-size: var(--fs-btn);
  padding: var(--m-btn);
  i {
    font-size: 3rem;
  }
  &:hover {
    color: var(--c-text);
  }
}
