.btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
  color: var(--c-text3);
  background: var(--c-tertiary);
  transition: var(--transition);
  border-radius: 1rem;
  font-size: var(--fs-btn);
  padding: 1.8rem 4.2rem;
  i {
    font-size: 3rem;
  }
  &:hover {
    background: #5d4ecb;
  }
}
