@mixin flex($horizontal, $vertical) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
}
@mixin grid($column) {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: $column 1fr;
}
@mixin verticalText {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  user-select: none;
}
