@use "mixins";

.social-link {
  @include mixins.flex(center, center);
  position: relative;
  width: 7rem;
  height: 7rem;
  background: var(--c-tertiary);
  border-radius: 50%;
  font-size: 4.2rem;
  color: var(--c-text3);
  transition: var(--transition) ease;
  &:hover {
    background: #5d4ecb;
  }
}
