:root {
  // couleurs
  --c-primary: #f8f7ff;
  --c-secondary: #b7c1f6;
  --c-secondary-light: #efedff;
  --c-tertiary: #7d6bed;
  --c-text1: #2e3138;
  --c-text2: #7d6bed;
  --c-text3: #e7e7e7;

  --c-borderInput: rgba(49, 45, 46, 0.5);
  --c-success: #62ad24;
  --c-error: #ff3a47;

  // marges
  --m-gutter: 3.5rem;
  --m-m_gutter: 7rem;
  --margin: 2rem;

  // border radius
  --br-box: 2rem;

  // transition
  --transition: 0.5s;

  // font size
  --fs-icon: 4rem;
  --fs-formIcon: 3rem;
  --fs-formError: 1.2rem;
  --fs-a: 2rem;
  --fs-p: 1.6rem;
  --fs-btn: 2.2rem;
  --fs-h1: 5.6rem;
  --fs-h2: 4.5rem;
  --fs-h3: 3.2rem;
  --fs-h4: 3rem;

  // color mode
  --sun: url(../../assets/sun.svg);
}

:root.dark-mode {
  // couleurs
  --c-primary: #181717;
  --c-secondary: #2a2c26;
  --c-secondary-light: #312d2e;
  --c-tertiary: #c2e812;
  --c-text1: #fcfffc;
  --c-text2: #c2e812;
  --c-text3: #312d2e;

  --c-borderInput: rgba(252, 255, 252, 0.5);

  // color mode
  --moon: url(../../assets/moon.svg);
}
