:root {
  // couleurs
  --c-primary: #f8f7ff;
  --c-secondary: #d5eba4;
  --c-secondary-light: #e8eedd;
  --c-secondary-light2: rgba(213, 235, 164, 0.8);
  --c-tertiary: #7ddf64;
  --c-text1: #2e3138;
  --c-text2: #58bf49;
  --c-text3: #e7e7e7;
  --c-hover: #58bf49;

  --c-borderInput: rgba(49, 45, 46, 0.5);
  --c-success: #62ad24;
  --c-error: #ff3a47;

  // marges
  --m-gutter: 3.5rem;
  --m-m_gutter: 7rem;
  --margin: 2rem;

  // border radius
  --br-box: 2rem;

  // transition
  --transition: 0.5s;

  // size
  --fs-icon: 4rem;
  --fs-formIcon: 2rem;
  --fs-formError: 1.2rem;
  --fs-a: 2rem;
  --fs-p: 1.6rem;
  --s-bannerSmall: 25rem;
  --s-bannerMedium: 35rem;

  // color mode
  --moon: url(../../assets/moon.svg);
}

:root.dark-mode {
  // couleurs
  --c-primary: #181717;
  --c-secondary: #242323;
  --c-secondary-light: #312d2e;
  --c-secondary-light2: rgba(36, 35, 35, 0.8);
  --c-tertiary: #c2e812;
  --c-text1: #fcfffc;
  --c-text2: #c2e812;
  --c-text3: #312d2e;
  --c-hover: #85a709;

  --c-borderInput: rgba(252, 255, 252, 0.5);

  // color mode
  --sun: url(../../assets/sun.svg);
}
