:root {
  // couleurs
  --c-bg: #fffbff;
  --c-bg2: #ff6f59;
  --c-bg3: #4fb286;
  --c-text: #0b0500;
  --c-text2: #fffbfe;
  --c-text3: #ff6f59;
  --c-btn: #ff6f59;

  --c-success: #62ad24;
  --c-error: #ff3a47;

  // marges
  --m-gutter: 2rem;
  --m-input: 2rem;
  --m-form: 2rem;
  --m-btn: 1.8rem 4.2rem;
  --m-m_gutter: 4rem;

  // border radius
  --br-btn: 1rem;
  --br-box: 2rem;
  --br-input: 0.8rem;

  // transition
  --transition: 0.5s;
  --transition-btn: all 150ms ease-out;
  --transition-card: cubic-bezier(0.19, 1, 0.22, 1);

  // font size
  --fs-icon: 4rem;
  --fs-formIcon: 3rem;
  --fs-formError: 1.2rem;
  --fs-a: 2rem;
  --fs-p: 1.6rem;
  --fs-btn: 2.2rem;
  --fs-h1: 5.6rem;
  --fs-h2: 4.5rem;
  --fs-h3: 3.2rem;
  --fs-h4: 3rem;

  // color mode
  --sun: url(../../assets/sun.svg);
}

:root.dark-mode {
  // couleurs
  --c-bg: #403e40;
  --c-bg2: #284b63;
  --c-bg3: #9799ca;
  --c-text: #fffecb;
  --c-text2: #3e4240;
  --c-text3: #7b7dac;
  --c-btn: #fffecb;

  // color mode
  --moon: url(../../assets/moon.svg);
}
