@use "variables";
@use "mixins";
@use "breakpoints";
@use "lightbox";
@import "socialmedia";
@import "buttons";
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

// ------------------- reset
// ------------------- reset

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 55%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  @include breakpoints.large {
    font-size: 62.5%;
  }
}

// ------------------- general
// ------------------- general

body {
  color: var(--c-text1);
}

h1 {
  font-family: "Khand", sans-serif;
  font-size: 4.5rem;
  line-height: 4.8rem;
  font-weight: 700;
  @include breakpoints.medium {
    font-size: 7.8rem;
    line-height: 8.2rem;
  }
}
h2 {
  font-size: 4rem;
  @include breakpoints.medium {
    font-size: 5.2rem;
  }
}
h3 {
  font-size: 2.6rem;
  line-height: 3.8rem;
  font-weight: 700;
  @include breakpoints.medium {
    font-size: 4.6rem;
    line-height: 5.6rem;
  }
}
h4 {
  font-size: 4rem;
  font-family: "Khand", sans-serif;
}
p,
a,
strong {
  font-size: var(--fs-p);
  color: var(--c-text1);
}

section {
  position: relative;
  background: var(--c-primary);
  padding: 0 var(--m-gutter) 6rem;
  overflow: hidden;
  @include breakpoints.medium {
    padding: 0 var(--m-m_gutter) 6rem;
  }
  div:not(.banner) {
    z-index: 1;
  }
}

.separation {
  width: 100%;
  height: 1px;
  background: rgba(111, 113, 114, 0.3);
  margin-bottom: 4rem;
}

.heading {
  font-family: "Khand", sans-serif;
  margin-bottom: var(--margin);
  & > span {
    font-family: "Khand", sans-serif;
  }
}

.banner {
  display: none;
  @include breakpoints.small {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: var(--s-bannerSmall);
    height: 100%;
    background: rgba(46, 49, 56, 0.3);
    user-select: none;
  }
  @include breakpoints.large {
    width: var(--s-bannerMedium);
  }
  span {
    @include mixins.verticalText;
    height: 100%;
    display: block;
    font-family: "Khand", sans-serif;
    font-weight: 600;
    font-size: 24rem;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    @include breakpoints.large {
      line-height: 56rem;
    }
  }
}

.highlight-color {
  color: var(--c-text2);
}

// ------------------- header
// ------------------- header

.header {
  @include mixins.flex(end, center);
  position: fixed;
  width: 100%;
  height: 7.4rem;
  padding: 0 var(--m-gutter);
  background: var(--c-tertiary);
  z-index: 2;
  @include breakpoints.medium {
    padding: 0 var(--m-m_gutter);
  }
  &__content {
    @include mixins.flex(flex-start, center);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap: 2rem;
    background: var(--c-secondary);
    font-family: "Khand", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--c-text1);
    font-size: 4rem;
    padding: 0 var(--m-gutter);
    @include breakpoints.medium {
      padding: 0 var(--m-m_gutter);
    }
  }
}

.menu-icon {
  display: block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  user-select: none;
  z-index: 2;
  .line {
    fill: none;
    transform-origin: top left;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--c-text1);
    stroke-width: 5.5;
    stroke-linecap: round;
  }
  &.active {
    transform: rotate(45deg);
    .top {
      stroke-dashoffset: -68px;
    }
    .bottom {
      stroke-dashoffset: -68px;
    }
  }
  .top {
    stroke-dasharray: 40 121;
  }
  .bottom {
    stroke-dasharray: 40 121;
  }
  @include breakpoints.small {
    display: none;
  }
}

.navbar {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.23);
  background: var(--c-secondary);
  border-radius: 2rem;
  transform: translateY(-102%);
  transition: 0.5s ease all;
  z-index: -1;
  &.active {
    transform: translateY(0);
  }
  &__box {
    @include mixins.flex(flex-start, center);
    flex: 1 1 100%;
    font-size: var(--fs-p);
    font-weight: 500;
    a {
      padding: var(--m-gutter);
      width: 100%;
      height: 100%;
      white-space: nowrap;
      color: var(--c-text1);
      @include breakpoints.small {
        padding: var(--margin);
        @include mixins.flex(center, center);
        width: auto;
      }
      &:hover,
      &.active {
        color: var(--c-text2);
      }
    }
  }
  @include breakpoints.small {
    position: static;
    flex-wrap: nowrap;
    width: auto;
    height: 100%;
    padding: 0;
    box-shadow: none;
    background: none;
    transform: translateY(0);
    z-index: 1;
  }
}

.logo {
  flex: 0 1 3.6rem;
  display: flex;
  align-items: center;
  img {
    width: 100%;
  }
}

// ------------------- home
// ------------------- home

.home {
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  align-items: start;
  grid-template-columns: 1fr 35vw;
  grid-template-rows: auto auto;
  grid-template-areas:
    "home-content home-content"
    "home-img home-img";
  padding: 9rem var(--m-gutter) 0;
  &__content {
    grid-area: home-content;
    @include mixins.flex(center, flex-start);
    flex-direction: column;
    gap: 2rem;
  }
  &__img {
    grid-area: home-img;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__text p {
    margin: 1rem 0;
  }
  &__info {
    @include mixins.flex(flex-start, center);
    gap: 1rem;
    border-radius: 1rem;
    background: var(--c-secondary-light);
    padding: 1rem 2rem;
    > i {
      font-size: 2.4rem;
      color: var(--c-text2);
    }
  }
  @include breakpoints.small {
    align-items: center;
    grid-template-areas:
      "home-content home-img"
      "home-content home-img";
  }
  @include breakpoints.medium {
    padding: 9rem var(--m-m_gutter) 0;
  }
}

.social-links {
  @include mixins.flex(flex-start, center);
  gap: 3rem;
}

// ------------------- skills
// ------------------- skills

.skills {
  &__content {
    @include mixins.flex(center, flex-start);
    flex-wrap: wrap;
    gap: var(--margin);
    @include breakpoints.x-small {
      justify-content: flex-start;
    }
    span {
      display: inline-block;
      width: 100%;
      font-family: "Khand", sans-serif;
      font-weight: 600;
      font-size: 4rem;
      text-align: center;
    }
  }
  &__box {
    position: relative;
    background: var(--c-secondary-light);
    border-radius: var(--br-box);
    padding: var(--margin);
    overflow: hidden;
    ellipse {
      fill: none;
      stroke-width: 20;
    }
  }
  &__level {
    position: relative;
    span {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      font-size: 6rem;
    }
  }
  &__percentage {
    fill: none;
    stroke-width: 10;
    transform: rotate(-90deg);
  }
  h4 {
    position: absolute;
    top: -5rem;
    left: -2rem;
    font-family: "Open Sans", sans-serif;
    font-size: 12rem;
    line-height: 9rem;
    font-weight: 800;
    color: var(--c-text1);
    opacity: 0.1;
    @include mixins.verticalText;
  }
}
[data-language="html"] {
  stroke: #e34c26;
  stroke-dasharray: 213;
}
[data-language="css"] {
  stroke: #1383db;
  stroke-dasharray: 226;
}
[data-language="sass"] {
  stroke: #cc6699;
  stroke-dasharray: 226;
}
[data-language="js"] {
  stroke: #f8cf68;
  stroke-dasharray: 138;
}
[data-language="react"] {
  stroke: #7cc5d9;
  stroke-dasharray: 75 200;
}

// ------------------- services
// ------------------- services

.services {
  grid-template-rows: auto 1fr;
  &__content {
    @include mixins.flex(flex-start, flex-start);
    flex-wrap: wrap;
    gap: 4rem;
    @include breakpoints.small {
      width: calc(100% - var(--s-bannerSmall));
    }
    @include breakpoints.large {
      width: calc(100% - var(--s-bannerMedium));
    }
  }
  &__box {
    @include mixins.flex(center, center);
    flex-direction: column;
    flex: 1 1 30rem;
    flex-wrap: wrap;
    gap: 2rem;
    background: var(--c-secondary-light);
    padding: 3rem 2rem 4rem;
    border-radius: var(--br-box);
    text-align: center;
    transition: var(--transition) ease;
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
    .fa-solid {
      font-size: 5rem;
      color: var(--c-secondary-light);
    }
    &:hover {
      background: var(--c-secondary);
    }
  }
  &__icon {
    @include mixins.flex(center, center);
    width: 8.5rem;
    height: 8.5rem;
    background: var(--c-tertiary);
    border-radius: 50%;
  }
}

// ------------------- portfolio
// ------------------- portfolio

.portfolio {
  &__content {
    position: relative;
    display: grid;
    grid-gap: var(--m-gutter);
    grid-template-columns: 1fr;
    width: 100%;
    @include breakpoints.x-small {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoints.small {
      width: calc(100% - var(--s-bannerSmall));
    }
    @include breakpoints.large {
      width: calc(100% - var(--s-bannerMedium));
    }
    @include breakpoints.x-large {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__text {
    @include mixins.flex(flex-end, flex-start);
    flex-direction: column;
    gap: var(--m-gutter);
    padding: var(--m-gutter);
    position: absolute;
    inset: 0 0 0 0;
    color: #fff;
    object-fit: contain;
    transition: 0.4s ease;
    z-index: 1;
    p {
      color: #fff;
    }
    @include breakpoints.small {
      transform: translate(0, 100%);
    }
  }
  &__box {
    @include mixins.flex(center, flex-start);
    position: relative;
    width: 100%;
    height: 49rem;
    border-radius: var(--br-box);
    overflow: hidden;
    img {
      width: 130%;
      object-fit: contain;
      transition: transform 0.8s ease;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: var(--c-secondary-light2);
      border-radius: var(--br-box);
      z-index: 0;
    }
    &:hover {
      .portfolio__text {
        transform: translate(0, 0);
      }
      img {
        transform: translate(0, -10%);
      }
    }
  }
}

// ------------------- contact
// ------------------- contact

.contact {
  grid-template-rows: auto 1fr;
  margin-bottom: 0;
  &__content {
    @include mixins.flex(center, flex-start);
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
    width: 100%;
    background: var(--c-secondary-light);
    padding: 4rem 2rem;
    border-radius: var(--br-box);
    @include breakpoints.small {
      width: calc(100% - var(--s-bannerSmall));
    }
    @include breakpoints.large {
      width: calc(100% - var(--s-bannerMedium));
    }
  }
  &__detail {
    @include mixins.flex(flex-start, flex-start);
    flex-direction: column;
    gap: var(--margin);
    flex: 0 1 45rem;
    img {
      align-self: center;
      width: 100%;
    }
    a {
      font-size: var(--fs-p);
      color: var(--c-text1);
      font-weight: 600;
      @include breakpoints.small {
        font-size: 1.8rem;
      }
    }
    i {
      color: var(--c-text2);
      font-size: 3rem;
      margin-right: 2rem;
      vertical-align: middle;
      @include breakpoints.small {
        font-size: 4rem;
      }
    }
  }
}

.form {
  @include mixins.flex(center, center);
  flex-wrap: wrap;
  gap: var(--margin);
  flex-grow: 0;
  flex-basis: 100%;
  @include breakpoints.small {
    flex: 1 1 calc(50% - 45rem);
  }
  &__input {
    flex: 1 1 100%;
    position: relative;
    label {
      font-size: var(--fs-p);
      color: var(--c-text1);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      padding: 3rem var(--margin) var(--margin);
      pointer-events: none;
      transform-origin: 0 0;
      transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    }
    input:not(.btn),
    textarea {
      padding: 3rem var(--margin);
      font-size: var(--fs-p);
      background: var(--c-secondary-light);
      border: 0.1rem solid var(--c-borderInput);
      color: var(--c-text1);
      border-radius: 0.8rem;
      width: 100%;
      resize: none;
    }
    input:not(.btn):focus ~ label,
    textarea:focus ~ label,
    input:not(.btn):-webkit-autofill ~ label,
    textarea:-webkit-autofill ~ label,
    .fill {
      opacity: 0.6;
      transform: scale(0.85) translateY(-1.5rem);
    }
    i {
      position: absolute;
      top: 2.7rem;
      right: 2.7rem;
      visibility: hidden;
      font-size: var(--fs-formIcon);
    }
    .fa-check-circle {
      color: var(--c-success);
    }
    .fa-exclamation-circle {
      color: var(--c-error);
    }
    .error {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      font-size: var(--fs-formError);
      color: var(--c-error);
    }
    &.success {
      input {
        border: 0.1rem solid var(--c-success);
      }
      .fa-check-circle {
        visibility: visible;
      }
    }
    &.error {
      input {
        border: 0.1rem solid var(--c-error);
      }
      .fa-exclamation-circle {
        visibility: visible;
      }
    }
  }
  &__textarea {
    @extend .form__input;
    flex: 1 1 100%;
    &.success {
      textarea {
        border: 0.1rem solid var(--c-success);
      }
    }
    &.error {
      textarea {
        border: 0.1rem solid var(--c-error);
      }
    }
  }
}

// ------------------- footer
// ------------------- footer

.footer {
  @include mixins.flex(flex-start, center);
  padding: 0 var(--m-gutter);
  background: var(--c-secondary-light);
  height: 6rem;
  margin-bottom: 5rem;
  font-size: var(--fs-p);
  color: var(--c-text1);
  @include breakpoints.small {
    font-size: var(--fs-p);
  }
  @include breakpoints.medium {
    padding: 0 var(--m-m_gutter);
  }
}

.arrowTop {
  @include mixins.flex(center, center);
  visibility: hidden;
  position: fixed;
  bottom: 12rem;
  right: 2rem;
  background: #f7b801;
  transition: var(--transition) ease;
  color: #2e3138;
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  font-size: 4rem;
  z-index: 2;
  &.visible {
    visibility: visible;
  }
}

.options {
  @include mixins.flex(center, center);
  gap: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background: var(--c-secondary);
  z-index: 2;
}

#colorMode {
  background: none;
  width: 4rem;
  height: 4rem;
  background-image: var(--sun);
  background-color: var(--c-primaryBtn);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#en,
#fr {
  color: var(--c-text1);
  font-size: 2rem;
  font-weight: 700;
  background: none;
  opacity: 0.5;
  cursor: pointer;
  &.active {
    opacity: 1;
  }
}
