@use "variables";
@use "mixins";
@use "breakpoints";
@use "lightbox";
@import "socialmedia";
@import "buttons";
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

// ------------------- reset
// ------------------- reset

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 55%;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  @include breakpoints.large {
    font-size: 62.5%;
  }
}

// ------------------- general
// ------------------- general

body {
  color: var(--c-secondary);
}

section {
  padding: 12rem var(--m-gutter) 6rem;
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
  align-items: start;
  @include breakpoints.medium {
    padding: 12rem var(--m-m_gutter) var(--m-m_gutter);
  }
  h1 {
    font-size: 5.6rem;
    font-weight: 700;
  }
  h2 {
    font-size: 4rem;
    @include breakpoints.medium {
      font-size: 5.2rem;
    }
  }
  h3 {
    font-size: 3.2rem;
    font-weight: 700;
  }
  h4 {
    font-size: 3rem;
  }
  p {
    font-size: 1.6rem;
  }
  &:nth-child(even) {
    background: var(--c-bg);
  }
  &:nth-child(odd) {
    background: var(--c-bg);
  }
}

.highlight-color {
  color: var(--c-primary3);
}

// ------------------- header
// ------------------- header

.header {
  @include mixins.flex(end, center);
  position: fixed;
  width: 100%;
  height: 7.4rem;
  padding: 0 var(--m-gutter);
  background: var(--c-primary3);
  color: #fff;
  z-index: 2;
  @include breakpoints.medium {
    padding: 0 var(--m-m_gutter);
  }
  &__content {
    @include mixins.flex(flex-start, center);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap: 2rem;
    background: var(--c-primary3);
    font-weight: 600;
    color: var(--c-secondary);
    font-size: 3rem;
    padding: 0 var(--m-gutter);
    @include breakpoints.medium {
      padding: 0 var(--m-m_gutter);
    }
  }
}

.menu-icon {
  display: block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  user-select: none;
  z-index: 2;
  .line {
    fill: none;
    transform-origin: top left;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 5.5;
    stroke-linecap: round;
  }
  &.active {
    transform: rotate(45deg);
    .top {
      stroke-dashoffset: -68px;
    }
    .bottom {
      stroke-dashoffset: -68px;
    }
  }
  .top {
    stroke-dasharray: 40 121;
  }
  .bottom {
    stroke-dasharray: 40 121;
  }
  @include breakpoints.small {
    display: none;
  }
}

.navbar {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.23);
  background: var(--c-navbar);
  border-radius: 2rem;
  transform: translateY(-100%);
  transition: 0.5s ease all;
  z-index: -1;
  .colorMode {
    padding: 2rem;
    display: flex;
    align-items: center;
  }
  &.active {
    transform: translateY(0);
  }
  &__box {
    flex: 1 1 100%;
    font-size: 1.6rem;
    font-weight: 500;
    a {
      @extend .colorMode;
      height: 100%;
      white-space: nowrap;
      color: var(--c-secondary);
      &:hover,
      &.active {
        color: var(--c-secondary3);
      }
    }
  }
  @include breakpoints.small {
    position: static;
    flex-wrap: nowrap;
    width: auto;
    height: 100%;
    padding: 0;
    box-shadow: none;
    background: none;
    transform: translateY(0);
    z-index: 1;
  }
}

#colorMode {
  @include mixins.flex(flex-start, center);
  background: var(--c-secondary);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0 0.2rem;
  border-radius: 50%;
  background-image: var(--sun);
  background-color: var(--c-primaryBtn);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.dark-mode #colorMode {
  justify-content: flex-end;
}
.dark-mode #colorMode_toggle {
  background-image: var(--moon);
}

#switchButton {
  width: 4rem;
  height: 4rem;
  background: none;
}
.flag {
  width: 100%;
  height: 100%;
}

// ------------------- home
// ------------------- home

.home {
  grid-template-columns: 1fr 35vw;
  grid-template-rows: auto auto;
  grid-template-areas:
    "home-content home-content"
    "home-img home-img";
  &__content {
    grid-area: home-content;
    @include mixins.flex(center, flex-start);
    flex-direction: column;
    gap: 2rem;
  }
  &__img {
    grid-area: home-img;
    img {
      width: 100%;
      height: 100%;
    }
  }
  @include breakpoints.small {
    align-items: center;
    grid-template-areas:
      "home-content home-img"
      "home-content home-img";
  }
}

.social-links {
  @include mixins.flex(flex-start, center);
  gap: 3rem;
}

// ------------------- about
// ------------------- about

.about {
  padding: 12rem var(--m-m_gutter) 0 var(--m-m_gutter);
  grid-template-columns: 28vw 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "about-content about-content"
    "about-img about-img";
  &__img {
    grid-area: about-img;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &__content {
    grid-area: about-content;
    @include mixins.flex(flex-start, flex-start);
    flex-direction: column;
    gap: 2rem;
  }
  @include breakpoints.small {
    grid-template-areas:
      "about-img about-content"
      "about-img about-content";
  }
}

// ------------------- services
// ------------------- services

.services {
  grid-template-rows: auto 1fr;
  &__content {
    @include mixins.flex(flex-start, flex-start);
    flex-wrap: wrap;
    gap: 4rem;
  }
  &__box {
    @include mixins.flex(center, flex-start);
    flex: 1 1 30rem;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 3rem 2rem 4rem;
    border-radius: var(--br-box);
    text-align: center;
    border: 0.2rem solid var(--c-secondary);
    transition: var(--transition) ease;
    .fa-solid {
      font-size: 7rem;
      color: var(--c-secondary);
    }
    &:hover {
      transform: scale(1.02);
    }
  }
  .heading {
    text-align: center;
  }
}

// ------------------- portfolio
// ------------------- portfolio

.portfolio {
  &__content {
    display: grid;
    grid-gap: var(--m-gutter);
    grid-template-columns: 1fr;
    @include breakpoints.x-small {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoints.large {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__text {
    @include mixins.flex(flex-start, flex-start);
    flex-direction: column;
    gap: var(--m-gutter);
    padding: var(--m-gutter);
    position: absolute;
    inset: 50% 0 0 0;
    transform: translate(0, 100%);
    object-fit: contain;
    transition: 0.4s ease;
    z-index: 1;
  }
  &__box {
    @include mixins.flex(center, flex-start);
    position: relative;
    color: #fff;
    border-radius: var(--br-box);
    aspect-ratio: 1;
    overflow: hidden;
    img {
      width: 100%;
      transition: transform 0.8s ease;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      z-index: 0;
    }
    &:hover {
      .portfolio__text {
        transform: translate(0, 0);
      }
      img {
        transform: translate(0, -10%);
      }
    }
  }
}

// ------------------- contact
// ------------------- contact

.contact {
  grid-template-rows: auto 1fr;
}
form {
  @include mixins.flex(center, center);
  flex-wrap: wrap;
  gap: var(--m-form);
}
.input-control {
  flex: 1 1 100%;
  position: relative;
  @include breakpoints.small {
    flex: 1 1 calc(50% - var(--m-form));
  }
  label {
    font-size: var(--fs-p);
    color: var(--c-secondary);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 3rem var(--m-input) var(--m-input);
    pointer-events: none;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  }
  input:not(.btn),
  textarea {
    padding: 3rem var(--m-input) var(--m-input);
    font-size: var(--fs-p);
    border-radius: var(--br-input);
    background: var(--c-primary);
    border: 0.1rem solid var(--c-secondary);
    color: var(--c-secondary);
    width: 100%;
    resize: none;
  }
  input:not(.btn):focus ~ label,
  textarea:focus ~ label,
  input:not(.btn):-webkit-autofill ~ label,
  textarea:-webkit-autofill ~ label,
  .fill {
    opacity: 0.4;
    transform: scale(0.85) translateY(-1.5rem);
  }
  i {
    position: absolute;
    top: 2.1rem;
    right: 2.1rem;
    visibility: hidden;
    font-size: var(--fs-formIcon);
  }
  .fa-check-circle {
    color: var(--c-success);
  }
  .fa-exclamation-circle {
    color: var(--c-error);
  }
  .error {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    font-size: var(--fs-formError);
    color: var(--c-error);
  }
  &.success {
    input {
      border: 0.1rem solid var(--c-success);
    }
    .fa-check-circle {
      visibility: visible;
    }
  }
  &.error {
    input {
      border: 0.1rem solid var(--c-error);
    }
    .fa-exclamation-circle {
      visibility: visible;
    }
  }
}
.textarea-control {
  @extend .input-control;
  flex: 1 1 100%;
}
.submit-control {
  flex: 1 1 100%;
  @include mixins.flex(center, center);
  @include breakpoints.small {
    flex: 1 1 calc(50% - var(--m-form));
  }
}

// ------------------- footer
// ------------------- footer

.footer {
  @include mixins.flex(space-between, center);
  flex-wrap: wrap;
  padding: var(--m-gutter) var(--m-gutter);
  background: var(--c-primary3);
  @include breakpoints.medium {
    padding: var(--m-gutter) var(--m-m_gutter);
  }
}

.footer-text {
  p {
    font-size: 1.6rem;
    color: #fff;
  }
}

.arrowTop {
  @include mixins.flex(center, center);
  visibility: hidden;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 6rem;
  height: 6rem;
  background: var(--c-arrowTop);
  border-radius: var(--br-input);
  transition: var(--transition) ease;
  color: #fff;
  font-size: 4rem;
  z-index: 1;
  &.visible {
    visibility: visible;
  }
  &:hover {
    color: var(--c-secondary);
  }
}
